$section3-maximum: 1800px;
$section3-max: 1470px;
$section3-max2: 1330px;
$section3-mid: 996px;
$section3-mid2: 768px;
$section3-min: 568px;
.section-3{
  width: 100%;
  height: 171px;
  background-color: #3cb0f6;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-image: url("../images/section3-img.png");
  background-size: 610px;
  background-repeat: no-repeat;
  @media screen and (max-width: $section3-maximum){
    background-size: 450px;
    height: 126px;
  }
  @media screen and (max-width: $section3-max2){
    background-size: 350px;
    height: 98px;
  }
  @media screen and (max-width: $section3-mid){
    background-image: none;
  }
  @media screen and (max-width: $section3-mid2){
    height: 250px;
  }
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (max-width: $section3-max2){
      padding: 0;
      max-width: 1330px;
      width: 100%;
    }
    .section-3-text {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: $section3-mid){
        justify-content: center;
        margin: 0 auto;
      }
      @media screen and (max-width: $section3-mid2){
        flex-direction: column;
      }
      div{
        display: flex;
        flex-direction: column;
        span:nth-child(1) {
          max-width: 590px;
          width: 100%;
          font-family: "Lintel", sans-serif;
          font-size: 26px;
          font-weight: bold;
          text-align: left;
          color: #ffffff;
          @media screen and (max-width: $section3-max2){
            font-size: 22px;
          }
          @media screen and (max-width: $section3-mid2){
            text-align: center;
          }
        }
        span:nth-child(2) {
          max-width: 502px;
          width: 100%;
          font-family: "OpenSans", sans-serif;
          font-size: 26px;
          font-weight: 300;
          text-align: left;
          color: #ffffff;
          @media screen and (max-width: $section3-max2){
            font-size: 22px;
          }
          @media screen and (max-width: $section3-mid2){
            text-align: center;
          }
        }
      }

      button {
        width: 181px;
        height: 59px;
        border: solid 2px #ffffff;
        background-color: #3cb0f6;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 75px;
        @media screen and (max-width: $section3-max){
          margin: 0;
        }
      }
    }
  }
}
